
.poke-container {
  width: 100%;
  height: 100%;
  //margin: 10px;
  //border: 1px solid #555;
}

.poke-drawer {
  width: 250px;
  height: 100%;
}

.top-frame {
  height: 60vh;
}

.bottom-frame {
  height: 40vh;
}
